@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: rgba(90, 122, 219, 0.267);
}

.main-header {
  font-family: 'Montserrat', sans-serif;
}

.create-form label {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px !important;
}

